/************************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  font-family: "Comfortaa", "cursive", Impact, "Arial Narrow Bold", sans-serif,
    "Haettenschweiler";
  text-align: center;
}

a {
  list-style: none;
}

/************************************************** title */
.title-container h1 {
  font-size: 3rem;
  margin: 3rem;
  color: #6b8e23;
}

/************************************************** carousel */
.carousel-section {
  display: flex;
  justify-content: center;
  flex-direction: column; /* remove later probs */
  position: relative;
}

.img-container img {
  width: 18rem;
  height: 18rem;
  border: solid 0.5rem #9ab973;
}

/************************************************** arrows */
.arrows {
  background-color: #e3f988;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: solid 0.2rem #7a942e;
  display: grid;
  align-content: center;
  cursor: pointer;
}

.arrows i {
  color: #8a9a5b;
  font-size: 2rem;
}

.arrows:hover {
  border: solid 0.3rem #9ab973;
}

.arrows i:hover {
  color: #9ab973;
}

.left {
  position: absolute;
  top: 8rem;
  left: 1.5rem;
}

.right {
  position: absolute;
  top: 8rem;
  right: 1.5rem;
}
