/************************************************** custom defaults */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  font-family: "Comfortaa", "cursive", Impact, "Arial Narrow Bold", sans-serif,
    "Haettenschweiler";
  text-align: center;
}

a {
  list-style: none;
}

/************************************************** title */
.title-container h1 {
  font-size: 3rem;
  margin: 3rem;
  color: #6b8e23;
}

@media (min-width: 529px) {
  .title-container h1 {
    font-size: 4rem;
  }
}

@media (min-width: 830px) {
  .title-container h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1115px) {
  .title-container h1 {
    margin: 1rem;
    font-size: 6rem;
  }
}

/************************************************** carousel */
.carousel-section {
  display: flex;
  justify-content: center;
  position: relative;
}

.img-container {
  position: absolute;
  top: 1rem;
  left: 0rem;
}

.img-container img {
  width: 100%;
  border: solid 0.5rem #9ab973;
}

@media (min-width: 529px) {
  #imgText {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media (min-width: 830px) {
  .img-container img {
    width: 52rem;
    height: 25rem;
  }
  #imgText {
    font-size: 2rem;
  }
}

@media (min-width: 1115px) {
  .img-container img {
    margin: auto 8rem;
  }
  #imgText {
    font-size: 3rem;
  }
}

@media (min-width: 1366px) {
  .img-container img {
    width: 67.5rem;
  }
}

/************************************************** arrows */
.arrows {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: grid;
  align-content: center;
  cursor: pointer;
  background-color: #e3f988;
  border: solid 0.2rem #7a942e;
}

.arrows i {
  color: #8a9a5b;
  font-size: 2rem;
}

.arrows:hover {
  border: solid 0.3rem #9ab973;
  background-color: #e3f988;
  transition: 0.3s;
}

.arrows i:hover {
  color: #9ab973;
}

.left,
.right {
  position: fixed;
  top: 16rem;
  z-index: 1;
}

.left {
  left: 1rem;
}

.right {
  right: 1rem;
}

@media (min-width: 529px) {
  .arrows {
    width: 4rem;
    height: 4rem;
  }
  .arrows i {
    font-size: 3rem;
  }
  .left,
  .right {
    top: 21rem;
  }
}

@media (min-width: 830px) {
  .left,
  .right {
    top: 24rem;
  }
}

@media (min-width: 1115px) {
  .left,
  .right {
    top: 20rem;
  }
  .left {
    left: 10rem;
  }
  .right {
    right: 12rem;
  }
}
